@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* =====================
  All Selector 
  ======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* html {
  font-size: 62.2%;
} */

/* =====================
  Hero Section 
  ======================== */

.hero-container {
  height: 900px;
  background: url("../Images/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =====================
  Hero Section Ends
  ======================== */

/* =====================
  Stallion-Agency Starts
  ======================== */
.Stallion-Agency,
.Hitotsu-container {
  display: flex;
  justify-content: space-between;
}

.image-reponsive img,
.Hitotsu-image img {
  width: 100%;
  height: 100%;
}

.image-reponsive {
  flex-basis: 49%;
}

.Stallion-card,
.Hitotsu-content {
  flex-basis: 49%;
  padding: 110px 163px 109px 131px;
}

.Premium-icon-setup {
  display: flex;
  align-items: flex-start;
}

.Client-Relations {
  margin-left: 32px;
}

.Stallion-heading h1,
.form-container h1 {
  font: normal 400 48px/59px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #262525;
}

.Stallion-heading h6 {
  font: normal 400 20px/30px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #262525;
  margin: 24px 0 60px 0
}

.Client-Relations {
  margin-bottom: 32px;
}

.Client-Relations h1 {
  font: normal 400 30px/37px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #262525;
  margin-bottom: 24px;
}

.Client-Relations p,
li {
  font: normal 400 20px/30px 'Montserrat', sans-serif;
  color: #777777;
}

/* =====================
  Stallion-Agency Ends
  ======================== */
/* =====================
  HITOTSU Section Starts
  ======================== */
.Hitotsu-content {
  flex-basis: 49%;
}

.Hitotsu-image {
  width: 49%;
}

.Client-Relations li {
  margin-bottom: 20px;
}

.Hitotsu-content {
  padding: 177px 131px 176px 163px !important;
}

.lovatsville-card {
  padding: 169px 163px 168px 131px;
}

/* =====================
  HITOTSU Section Ends
  ======================== */

/* =====================
  Footer Section Starts
  ======================== */
.fotter-container {
  height: 1080px;
  background: url("../Images/Contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 1320px;
  height: 743px;
  background: #FFFDFD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container h1 {
  padding-top: 0px !important;
  text-align: center;
}

.form-container p {
  font: normal 400 24px/39px 'Montserrat', sans-serif;
  text-align: center;
  color: #777777;
  padding: 14px 213px 70px 213px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-name,
.last-name {
  width: 213px;
  height: 60px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  margin-right: 15px;
  padding: 0 10px;
  outline: none;
  font: normal 400 17px/30px 'Montserrat', sans-serif;
  color: #BDBDBD;
}

.email-input {
  display: block;
  margin: 16px 0;
  width: 445px;
  height: 60px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  font: normal 400 17px/30px 'Montserrat', sans-serif;
  color: #BDBDBD;
}

.message-input {
  width: 445px;
  height: 127px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  font: normal 400 17px/30px 'Montserrat', sans-serif;
  color: #BDBDBD;
}

.contact-button {
  width: 445px;
  height: 60px;
  display: block;
  border: none;
  outline: none;
  background: #126F43;
  border-radius: 5px;
  font: normal 700 20px/30px 'Montserrat', sans-serif;
  text-align: center;
  color: #FFFFFF;
  margin-top: 24px;
  cursor: pointer;
}

input[type="text"][type="email"] {
  color: black;
}

input[type="email"] {
  color: black;
}


/* =====================
  Footer Section Ends
  ======================== */


/* =================
   Responsive Starts
  ====================  */
@media only screen and (max-width: 1200px) {
  .image-resize {
    width: 480;
    height: 500px;
  }

  .Stallion-card {
    padding: 70px 50px 70px 70px;
  }

  .Hitotsu-content {
    padding: 100px 70px 100px 70px !important;
  }

  .form-container {
    width: 1000px;
    height: 743px;
  }

  .form-container p {
    font: normal 400 20px/34px 'Montserrat', sans-serif;
    padding: 14px 150px 50px 150px;
  }

}

@media only screen and (max-width: 950px) {
  .Stallion-card {
    padding: 20px 10px 20px 20px;
  }

  .Hitotsu-content {
    padding: 50px 20px 50px 20px !important;
  }

  .form-container {
    width: 800px;
    height: 700px;
  }

  .form-container p {
    font: normal 400 20px/34px 'Montserrat', sans-serif;
    padding: 14px 90px 20px 100px;
  }

}

@media only screen and (max-width: 700px) {
  .down-arrow img {
    width: 74px;
    height: 74px;
  }

  .Stallion-Agency,
  .Hitotsu-container {
    display: block;
  }

  .Hitotsu-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .Hitotsu-image {
    width: 100%;
  }

  .Stallion-card {
    padding: 30px 20px 30px 30px;
  }

  .Hitotsu-content {
    padding: 60px 30px 60px 30px !important;
  }

  .form-container {
    width: 800px;
    height: 680px;
  }

  .form-container p {
    font: normal 400 20px/34px 'Montserrat', sans-serif;
    padding: 14px 100px 30px 110px;
  }

}

@media only screen and (max-width: 500px) {
  .hero-container {
    height: 600px;
  }
  .Stallion-heading h1,
  .form-container h1 {
    font: normal 400 35px/45px 'Montserrat', sans-serif;
  }
  .Stallion-heading h6 {
    font: normal 400 18px/28px 'Montserrat', sans-serif;
    margin: 20px 0 50px 0
  }
  .Client-Relations h1 {
    font: normal 400 22px/30px 'Montserrat', sans-serif;
    margin-bottom: 20px;
  }
  
  .Client-Relations p,
  li {
    font: normal 400 17px/26px 'Montserrat', sans-serif;
  }
  .down-arrow img {
    width: 55px;
    height: 55px;
  }

  .image-resize {
    width: 300px;
    height: 300px;
  }

  .Stallion-card {
    padding:40px 20px 20px 20px;
  }

  .Hitotsu-content {
    padding: 40px 20px 20px 20px!important;
  }

  .form-container p {
    font: normal 400 20px/34px 'Montserrat', sans-serif;
    padding: 14px 90px 30px 90px;
  }
  .first-name,
  .last-name {
    width: 300px;
    height: 55px;
    margin: 0 0 15px 0;
    display: block;
  }

  .email-input {
    margin: 16px 0;
    width: 300px;
    height: 55px;
  }

  .message-input {
    width: 300px;
    height: 110px;
  }

  .form-container p {
    font: normal 400 16px/24px 'Montserrat', sans-serif;
    padding: 10px 40px 15px 40px;
  }


  .contact-button {
    width: 300px;
    height: 55px;
  }
  .fotter-container {
    height: 800px;
  }
}